<div class="notifications-list" >
    <ng-container *ngFor="let note of notifications; let i = index">
        <div class="notification">
            <div class="notification-title success-note" 
            [class.success-note]="note.type === 0"
            [class.warning-note]="note.type === 1"
            [class.danger-note]="note.type === 2"
            [class.info-note]="note.type === 3">
                <div class="notification-title-icon"></div>
                <div class="notification-title-text">{{ note.title }}</div>
            </div>

            <div class="remove-notification" (click)="handleCloseClicks($event, i)"></div>

            <div class="notification-message" [innerText]="note.message === notificationMessages[i]? note.message : notificationMessages[i] ">
            </div>
            <a *ngIf="showExpandEndicator[i]" class="read-more" (click)="handleLinkClicks($event, i)" [innerText]="note.message === notificationMessages[i]? 'Voir moins' : 'Voir plus'"></a>
        </div>

    </ng-container>

</div>
