<div class="landing">
    
    <div class="cute-pic"></div>
    <div class="text-explanation">
        Bienvenue sur notre plateforme innovante visant à transformer le processus
        organisationnel du ministère de la Pêche et des Ressources Halieutiques en une expérience simple et
        simplifiée.
    </div>

    <div class="more-explanation">
        Que vous soyez un pêcheur professionnel, un propriétaire d'entreprise de pêche ou même un citoyen
        intéressé par les affaires de la pêche et des ressources halieutiques, notre plateforme vous
        fournira un outil puissant pour gagner du temps et accélérer vos opérations.
    </div>

    <div class="registration-buttons">
        <button class="register">Créer un nouveau compte</button>
        <button class="connect">Se connecter</button>
    </div>
</div>
