.landing{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(90%, 1200px);
    height: 100%;
    gap: min(41px, 10vh);
    margin-top: 34px;
}

button{
    background-color: white;
    color: var(--primary-color);
    border: none;
    font-size: 1.4em;
    padding: 0.4em 1.2em;
    border-radius: 50px;
    cursor: pointer;
}

.cute-pic{
    background-image: url('../../assets/imgs/happy-hanter.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: min(299px, 100%);
    height: min(255px, max(30vh, 200px));
    aspect-ratio: 299/255;
}

.blury1{
    background-image: url('../../assets/imgs/blur-down-left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    aspect-ratio: 1;
    position: absolute;
    top: calc(100% - 30%);
    left: 0;
    z-index: -1;
}

.blury2{
    background-image: url('../../assets/imgs/blur-up-right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    left: calc(100% - 30%);
    z-index: -1;
}

.text-explanation{
    color: white;
    font-size: 32px;
}

.more-explanation{
    font-size: 20px;
    text-align: center;
    width: min(1125px, 100%);
}

.registration-buttons{
    margin-top: 54px;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.register{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: solid 3px var(--primary-color);
    transition: all ease-in .2s;
}

.connect{
    transition: all ease-in .2s;
}

.register:hover,
.connect:hover{
    background-color: var(--primary-color);
    color: white;
}

@media screen and (max-width: 1100px){
    .text-explanation{
        font-size: 24px;
    }

    .more-explanation{
        font-size: 18px;
    }

    .registration-buttons{
        margin-top: 0;
    }
}

@media screen and (max-width: 800px){
    .registration-buttons{
        flex-direction: column;
        gap: 10px;
        max-width: 390px;
    }

    .more-explanation{
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 700px){
    .text-explanation{
        font-size: 18px;
    }

    button{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 310px){
    .text-explanation{
        font-size: 14px;
    }

    button{
        font-size: 1em;
    }
}

@media screen and (max-height: 600px) and (min-width: 800px) and (max-width: 950px){
    .text-explanation{
        font-size: 18px;
    }

    button{
        font-size: 1em;
    }
}