<div class="procedures-dpaw">
    <div class="darkness" [class.visible]="checkWindowVisibility"></div>
    <div class="procedures-list">
        <div class="specific-procedures-title">Les demande à vous de traiter:</div>
        <ng-container *ngFor="let request of forYouRequests; let i = index">
            <div class="procedure">
                <div class="time">
                    <div class="time-icon"></div>
                    <div class="time-info">{{ calculateTimeDifference(request.duration) }}</div>
                </div>
                <div class="procedure-info">
                    <div class="info">{{ updateDynamicText(request.procedureNumber) }}</div>
                    <div class="info" [innerText]="request.personPhysique? 'Person physique' : 'Person morale'"></div>
                    <div class="info">{{ request.cnn }}</div>
                </div>
                <div class="action-list-icon" (click)="handleActionListIconClick($event, i)"></div>
                <div class="action-list" #actionList>
                    <a [routerLink]="document" style="text-decoration: none;"><div class="action">Voir le document</div></a>
                </div>
            </div>
        </ng-container>

        <div class="all-procedures-title">Des demande envoyer:</div>

        <ng-container *ngFor="let request of otherRequests; let i = index">
            <div class="procedure">
                <div class="time">
                    <div class="time-icon"></div>
                    <div class="time-info">{{ calculateTimeDifference(request.duration) }}</div>
                </div>
                <div class="procedure-info">
                    <div class="info">{{ updateDynamicText(request.procedureNumber) }}</div>
                    <div class="info" [innerText]="request.personPhysique? 'Person physique' : 'Person morale'"></div>
                    <div class="info">{{ request.cnn }}</div>
                </div>
                <div class="action-list-icon" (click)="handleActionListIconClick($event, i + forYouRequests.length)"></div>
                <div class="action-list" #actionList>
                    <div class="action" (click)="activateCheckMode()">Traiter ce document</div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="check-window" [class.visible]="checkWindowVisibility">
        <div class="window-icon"></div>
        <div class="check-message">Vous étes sure que vous voulez traiter se document?</div>
        <div class="warning-message">
            Lorsque vous appuierez sur le bouton "Oui", vous aurez la responsabilité de vérifier la précision des
            documents et de transmettre les papiers requis au propriétaire du présent dossier. Veuillez garder
            à l'esprit que toute erreur ou retard survenant sera constaté et porté à la connaissance des ministres.
            Alors, soyez prudent.
        </div>
        <div class="buttons">
            <a [routerLink]="document" style="text-decoration: none; width: 100%;"><button class="take-responsibility" (click)="finishCheckMode()">Oui, je suis sure</button></a>
            <button class="no-responsibility" (click)="finishCheckMode()">Non, annuler l’action</button>
        </div>
        
    </div>
</div>
