<div class="procedures-dpaw">
    <div class="procedures-list">
        <div class="specific-procedures-title">Les demande à vous de traiter:</div>
        <ng-container *ngFor="let request of forYouRequests; let i = index">
            <div class="procedure">
                <div class="time">
                    <div class="time-icon"></div>
                    <div class="time-info">{{ calculateTimeDifference(request.duration) }}</div>
                </div>
                <div class="procedure-info">
                    <div class="info">{{ updateDynamicText(request.procedureNumber) }}</div>
                    <div class="info" [innerText]="request.personPhysique? 'Person physique' : 'Person morale'"></div>
                    <div class="info">{{ request.cnn }}</div>
                </div>
                <div class="action-list-icon" (click)="handleActionListIconClick($event, i)"></div>
                <div class="action-list" #actionList>
                    <a [routerLink]="document" style="text-decoration: none;"><div class="action" [innerText]="request.for_you? 'Traiter ce document' : 'Voir le document'"></div></a>
                </div>
            </div>
        </ng-container>

        <div class="all-procedures-title">Des demande envoyer:</div>

        <ng-container *ngFor="let request of otherRequests; let i = index">
            <div class="procedure">
                <div class="time">
                    <div class="time-icon"></div>
                    <div class="time-info">{{ calculateTimeDifference(request.duration) }}</div>
                </div>
                <div class="procedure-info">
                    <div class="info">{{ updateDynamicText(request.procedureNumber) }}</div>
                    <div class="info" [innerText]="request.personPhysique? 'Person physique' : 'Person morale'"></div>
                    <div class="info">{{ request.cnn }}</div>
                </div>
                <div class="action-list-icon" (click)="handleActionListIconClick($event, i + forYouRequests.length)"></div>
                <div class="action-list" #actionList>
                    <a [routerLink]="document" style="text-decoration: none;"><div class="action" [innerText]="request.for_you? 'Traiter ce document' : 'Voir le document'"></div></a>
                </div>
            </div>
        </ng-container>
    </div>
</div>
