<div class="main">
    <div class="main-message">Procedure 1</div>
    <form [formGroup]="procedure1Form" (ngSubmit) = "onSubmit()" class="main-inputs-buttons">
        <div *ngIf="backendErrors" class="alert alert-danger">
            <strong>Error:</strong>
            <ul>
              <li *ngFor="let errorKey of backendErrorKeys">
                {{ backendErrors[errorKey][0] }}
              </li>
            </ul>
        </div>
        
        <div class="form-inputs">
            <div class="input-block">
                <label for="acte_de_naissance">Le numéro d'extrait d’acte de naissance de l'armateur ou du pêcheur</label>
                <input #inputElement type="text" name="acte_de_naissance" id="acte_de_naissance" class="acte_de_naissance"
                  formControlName="acte_de_naissance"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('acte_de_naissance')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('acte_de_naissance')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('acte_de_naissance')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('acte_de_naissance')?.invalid && (procedure1Form.get('acte_de_naissance')?.dirty || procedure1Form.get('acte_de_naissance')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('acte_de_naissance')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="photo_identite">Une photo d'identité</label>
                <input type="file" name="photo_identite" id="photo_identite" class="photo_identite"
                 formControlName="photo_identite"
                    (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('photo_identite')?.invalid)"
                    (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('photo_identite')?.invalid)"
                    (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('photo_identite')?.invalid); getFile($event, 'photo_identite')"
                   >
                <div class="input-error" *ngIf="(procedure1Form.get('photo_identite')?.invalid && (procedure1Form.get('photo_identite')?.dirty || procedure1Form.get('photo_identite')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('photo_identite')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="attestation_assurance">L'attestation assurance</label>
                <input #inputElement type="file" name="attestation_assurance" id="attestation_assurance" class="attestation_assurance"
                 formControlName="attestation_assurance"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('attestation_assurance')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('attestation_assurance')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('attestation_assurance')?.invalid); getFile($event, 'attestation_assurance')">

                <div class="input-error" *ngIf="(procedure1Form.get('attestation_assurance')?.invalid && (procedure1Form.get('attestation_assurance')?.dirty || procedure1Form.get('attestation_assurance')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('attestation_assurance')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="recepisse_redevance_annuelle">Le récépissé de la redevance annuelle</label>
                <input #inputElement type="file" name="recepisse_redevance_annuelle" id="recepisse_redevance_annuelle" class="recepisse_redevance_annuelle"
                 formControlName="recepisse_redevance_annuelle"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('recepisse_redevance_annuelle')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('recepisse_redevance_annuelle')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('recepisse_redevance_annuelle')?.invalid); getFile($event, 'recepisse_redevance_annuelle')">

                <div class="input-error" *ngIf="(procedure1Form.get('recepisse_redevance_annuelle')?.invalid && (procedure1Form.get('recepisse_redevance_annuelle')?.dirty || procedure1Form.get('recepisse_redevance_annuelle')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('recepisse_redevance_annuelle')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="status_societe">Les statuts de la société</label>
                <input #inputElement type="file" name="status_societe" id="status_societe" class="status_societe"
                 formControlName="status_societe"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('status_societe')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('status_societe')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('status_societe')?.invalid); getFile($event, 'status_societe')">

                <div class="input-error" *ngIf="(procedure1Form.get('status_societe')?.invalid && (procedure1Form.get('status_societe')?.dirty || procedure1Form.get('status_societe')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('status_societe')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="numero_registre_de_commerce">Le numéro de registre du commerce</label>
                <input #inputElement type="text" name="numero_registre_de_commerce" id="numero_registre_de_commerce" class="numero_registre_de_commerce"
                 formControlName="numero_registre_de_commerce"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('numero_registre_de_commerce')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('numero_registre_de_commerce')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('numero_registre_de_commerce')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('numero_registre_de_commerce')?.invalid && (procedure1Form.get('numero_registre_de_commerce')?.dirty || procedure1Form.get('numero_registre_de_commerce')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('numero_registre_de_commerce')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="nom_du_navire">Le nom du navire</label>
                <input #inputElement type="text" name="nom_du_navire" id="nom_du_navire" class="nom_du_navire"
                 formControlName="nom_du_navire"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('nom_du_navire')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('nom_du_navire')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('nom_du_navire')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('nom_du_navire')?.invalid && (procedure1Form.get('nom_du_navire')?.dirty || procedure1Form.get('nom_du_navire')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('nom_du_navire')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="immatriculation_du_navire">L’immatriculation du navire</label>
                <input #inputElement type="text" name="immatriculation_du_navire" id="immatriculation_du_navire" class="immatriculation_du_navire"
                 formControlName="immatriculation_du_navire"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('immatriculation_du_navire')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('immatriculation_du_navire')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('immatriculation_du_navire')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('immatriculation_du_navire')?.invalid && (procedure1Form.get('immatriculation_du_navire')?.dirty || procedure1Form.get('immatriculation_du_navire')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('immatriculation_du_navire')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="annee_de_construction_du_navire">L’année de construction du navire</label>
                <input #inputElement type="text" name="annee_de_construction_du_navire" id="annee_de_construction_du_navire" class="annee_de_construction_du_navire"
                 formControlName="annee_de_construction_du_navire"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('annee_de_construction_du_navire')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('annee_de_construction_du_navire')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('annee_de_construction_du_navire')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('annee_de_construction_du_navire')?.invalid && (procedure1Form.get('annee_de_construction_du_navire')?.dirty || procedure1Form.get('annee_de_construction_du_navire')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('annee_de_construction_du_navire')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="date_de_mise_en_exploitation_du_navire">La date de mise en exploitation du navire</label>
                <input #inputElement type="date" name="date_de_mise_en_exploitation_du_navire" id="date_de_mise_en_exploitation_du_navire" class="date_de_mise_en_exploitation_du_navire"
                 formControlName="date_de_mise_en_exploitation_du_navire"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('date_de_mise_en_exploitation_du_navire')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('date_de_mise_en_exploitation_du_navire')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('date_de_mise_en_exploitation_du_navire')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('date_de_mise_en_exploitation_du_navire')?.invalid && (procedure1Form.get('date_de_mise_en_exploitation_du_navire')?.dirty || procedure1Form.get('date_de_mise_en_exploitation_du_navire')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('date_de_mise_en_exploitation_du_navire')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="longueur_totale_du_navire">La longueur totale du navire</label>
                <input #inputElement type="text" name="longueur_totale_du_navire" id="longueur_totale_du_navire" class="longueur_totale_du_navire"
                 formControlName="longueur_totale_du_navire"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('longueur_totale_du_navire')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('longueur_totale_du_navire')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('longueur_totale_du_navire')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('longueur_totale_du_navire')?.invalid && (procedure1Form.get('longueur_totale_du_navire')?.dirty || procedure1Form.get('longueur_totale_du_navire')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('longueur_totale_du_navire')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="coque_du_navire">La coque du navire</label>
                <input #inputElement type="text" name="coque_du_navire" id="coque_du_navire" class="coque_du_navire"
                 formControlName="coque_du_navire"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('coque_du_navire')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('coque_du_navire')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('coque_du_navire')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('coque_du_navire')?.invalid && (procedure1Form.get('coque_du_navire')?.dirty || procedure1Form.get('coque_du_navire')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('coque_du_navire')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="jauge_brute_du_navire">Le jauge brute du navire</label>
                <input #inputElement type="text" name="jauge_brute_du_navire" id="jauge_brute_du_navire" class="jauge_brute_du_navire"
                 formControlName="jauge_brute_du_navire"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('jauge_brute_du_navire')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('jauge_brute_du_navire')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('jauge_brute_du_navire')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('jauge_brute_du_navire')?.invalid && (procedure1Form.get('jauge_brute_du_navire')?.dirty || procedure1Form.get('jauge_brute_du_navire')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('jauge_brute_du_navire')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="puissance_du_moteur">La puissance du moteur</label>
                <input #inputElement type="text" name="puissance_du_moteur" id="puissance_du_moteur" class="puissance_du_moteur"
                 formControlName="puissance_du_moteur"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('puissance_du_moteur')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('puissance_du_moteur')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('puissance_du_moteur')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('puissance_du_moteur')?.invalid && (procedure1Form.get('puissance_du_moteur')?.dirty || procedure1Form.get('puissance_du_moteur')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('puissance_du_moteur')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="marque_du_moteur">La mark du moteur</label>
                <input #inputElement type="text" name="marque_du_moteur" id="marque_du_moteur" class="marque_du_moteur"
                 formControlName="marque_du_moteur"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('marque_du_moteur')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('marque_du_moteur')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('marque_du_moteur')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('marque_du_moteur')?.invalid && (procedure1Form.get('marque_du_moteur')?.dirty || procedure1Form.get('marque_du_moteur')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('marque_du_moteur')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="numero_de_serie_du_moteur">Le numéro de série du moteur</label>
                <input #inputElement type="text" name="numero_de_serie_du_moteur" id="numero_de_serie_du_moteur" class="numero_de_serie_du_moteur"
                  formControlName="numero_de_serie_du_moteur"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('numero_de_serie_du_moteur')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('numero_de_serie_du_moteur')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('numero_de_serie_du_moteur')?.invalid)">

                <div class="input-error" *ngIf="(procedure1Form.get('numero_de_serie_du_moteur')?.invalid && (procedure1Form.get('numero_de_serie_du_moteur')?.dirty || procedure1Form.get('numero_de_serie_du_moteur')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('numero_de_serie_du_moteur')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="pv_de_visite_de_securie_du_navire">Le procès-verbal de visite de sécurité du navire délivré par le Service National des Gardes Cote</label>
                <input #inputElement type="file" name="pv_de_visite_de_securie_du_navire" id="pv_de_visite_de_securie_du_navire" class="pv_de_visite_de_securie_du_navire"
                 formControlName="pv_de_visite_de_securie_du_navire"
                 (input)="inputFunctions.detectErrors($event.target, procedure1Form.get('pv_de_visite_de_securie_du_navire')?.invalid)"
                 (click)="inputFunctions.commitErrors($event.target, procedure1Form.get('pv_de_visite_de_securie_du_navire')?.invalid)"
                (change)="inputFunctions.commitErrors($event.target, procedure1Form.get('pv_de_visite_de_securie_du_navire')?.invalid); getFile($event, 'pv_de_visite_de_securie_du_navire')">

                <div class="input-error" *ngIf="(procedure1Form.get('pv_de_visite_de_securie_du_navire')?.invalid && (procedure1Form.get('pv_de_visite_de_securie_du_navire')?.dirty || procedure1Form.get('pv_de_visite_de_securie_du_navire')?.touched)) || showErrors">
                    <div *ngIf="procedure1Form.get('pv_de_visite_de_securie_du_navire')?.hasError('required')">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="">choisir les engin que vous utilisez pour faire les activiters de péche: </label>
                <label>
                    <input type="checkbox" formControlName="canne_a_peche" name="canne_a_peche">
                    Canne à pèche
                </label>
                <label>
                    <input type="checkbox" formControlName="moulinet" name="moulinet">
                    Moulinet
                </label>
                <label>
                    <input type="checkbox" formControlName="filet_de_peche" name="filet_de_peche">
                    Filet de pêche
                </label>
                <label>
                    <input type="checkbox" formControlName="nylon_de_peche" name="nylon_de_peche">
                    Nylon de pêche
                </label>
                <label>
                    <input type="checkbox" formControlName="appat" name="appat">
                    Appât
                </label>
            </div>

            <div class="input-block">
                <label for="">choisir les engin que vous utilisez pour faire les activiters de péche: </label>
                <label>
                    <input type="checkbox" formControlName="vhf" name="vhf">
                    VHF
                </label>
                <label>
                    <input type="checkbox" formControlName="gps" name="gps">
                    GPS
                </label>
                <label>
                    <input type="checkbox" formControlName="others" name="autres">
                    Autres
                </label>
            </div>
            
              
        </div>


        
        <div class="form-buttons">
            <button class="action-btn" type="submit">Envoyer le document</button>
        </div>
    </form>
</div>