<div class="document">
    <div class="all-info">
        <div class="all-info-title">Les info de la demande:</div>

        <div class="info-container">
            <div class="info-container-title">Info du demandeur</div>
            <div class="info-list">
                <div class="info">
                    <div class="attribute">Nom d’utilisateur:</div>
                    <div class="value">{{ userInfo.username }}</div>
                </div>

                <div class="info dark">
                    <div class="attribute">Type:</div>
                    <div class="value" *ngIf="!userInfo.physique">Person Moral</div>
                    <div class="value" *ngIf="userInfo.physique">Person physique</div>
                </div>
                
                <div class="info">
                    <div class="attribute">Email:</div>
                    <div class="value">{{ userInfo.email }}</div>
                </div>
                
                <div class="info dark">
                    <div class="attribute">Téléphone:</div>
                    <div class="value">{{ userInfo.phone }}</div>
                </div>
                
                <div class="info">
                    <div class="attribute">Nom et Prénom:</div>
                    <div class="value">{{ userInfo.first_name + " " + userInfo.last_name}}</div>
                </div>
                
                <div class="info dark">
                    <div class="attribute">NCI:</div>
                    <div class="value">{{ userInfo.CNN }}</div>
                </div>
                
                <div class="info">
                    <div class="attribute">Date de naissance:</div>
                    <div class="value">{{ userInfo.birthdate }}</div>
                </div>
                
                <div class="info dark">
                    <div class="attribute">Wilaya:</div>
                    <div class="value">{{ userInfo.wilaya }}</div>
                </div>
                
            </div>
        </div>


        <div class="info-container">
            <div class="info-container-title">Le dossier</div>
            <div class="warning" [class.visible]="validationMode">
                Assurez-vous de vérifier l'exactitude de tous les documents dans le dossier,
                même si vous avez trouvé une erreur dans l'un d'entre eux avant de tous les vérifier !!
                </div>
            <div class="info-list">
                <div class="info">
                    <div class="attribute">Procédure:</div>
                    <div class="value">{{document.procedureNum}}</div>
                </div>

                <ng-container *ngFor="let info of document.info; let e = even; let i = index">
                    <div class="info" [class.dark]="e">
                        <ng-container *ngIf="info.isCorrect !== null">
                            <div class="correct-class" *ngIf="validationMode && info.isCorrect"></div>
                            <div class="wrong-class" *ngIf="validationMode && !info.isCorrect"></div>
                        </ng-container>
                        
                        <div class="attribute">{{info.name}}:</div>
                        <ng-container [ngSwitch]="info.type">
                            <div *ngSwitchCase="'text'" class="value">{{ info.data }}</div>
                            <div *ngSwitchCase="'list'" class="value">
                                <ng-container *ngFor="let data of isArray(info.data)">
                                    {{data}},
                                </ng-container>
                            </div>
                            <div *ngSwitchCase="'file'" class="value" (click)="openImageWindow(info.data)"><a style="text-decoration: underline; cursor: pointer; color: var(--primary-color)">Voir le fichier</a></div>
                        </ng-container>
                        
                        <div class="dicision" [class.visible]="validationMode">
                            <input type="radio" [id]="'accept-' + i" [checked]="info.isCorrect" (click)="validateInfo($event, i, true)">
                            <label [for]="'accept-' + i" class="accept"></label>

                            <input type="radio" [id]="'refuse-' + i" [checked]="!info.isCorrect" (click)="validateInfo($event, i, false)">
                            <label [for]="'refuse-' + i" class="refuse"></label>
                        </div>
                    </div>
                </ng-container>
                
            </div>

            <div class="buttons">
                <button class="finish" [class.visible]="validationMode">Terminée</button>
                <button class="start" [class.visible]="!validationMode" (click)="startValidationMode()">Valider le dossier</button>
                <button class="save" [class.visible]="validationMode" (click)="finishValidationMode(); saveChanges()">Sauvegarder</button>
                <button class="cancel" [class.visible]="validationMode" (click)="finishValidationMode(); cancelChanges()">Annuler</button>
            </div>
        </div>
    </div>
</div>
