<div class="login">
    <div class="login-message">Connectez-vous!</div>
    <form (ngSubmit) = "onSubmit()" class="login-inputs-buttons">
        <div class="login-inputs">
            <div class="input-block">
                <label for="email">Email</label>
                <input #email="ngModel" type="email" name="email" id="email" class="email"
                 [(ngModel)] = "formData.email" 
                 (input)="detectErrors($event, email.errors)"
                 (click)="commitErrors($event, email.errors)"
                (change)="commitErrors($event, email.errors)" required>
            </div>

            <div class="input-block">
                <label for="password">Mot de pass</label>
                <input #password="ngModel" type="password" name="password" id="password" class="password" 
                [(ngModel)] = "formData.password" 
                (input)="detectErrors($event, password.errors)"
                (click)="commitErrors($event, password.errors)"
                (change)="commitErrors($event, password.errors)" required>
            </div>
        </div>
        
        <div class="login-buttons">
            <button class="login-btn" type="submit">Se Connecter</button>
            <div class="login-instead">Vous n'avez pas de compte ? <a [routerLink]="signup">Inscrivez-vous</a></div>
        </div>
    </form>
</div>