<div class="login">
    <div class="login-message">Connectez-vous!</div>
    <form #logInForm="ngForm" (ngSubmit) = "onSubmit()" class="login-inputs-buttons">
        <div class="login-inputs">
            <div class="input-block">
                <label for="username">Nom d'utilisateur</label>
                <input #inputElement #userName="ngModel" type="text" name="username" id="username" class="username"
                 [(ngModel)] = "formData.userName"
                 (input)="detectErrors($event.target, userName.errors)"
                 (click)="commitErrors($event.target, userName.errors)"
                (change)="commitErrors($event.target, userName.errors)" required>

                <div class="input-error" *ngIf="(userName.errors && (userName.dirty || userName.touched)) || showErrors">
                    <div *ngIf="userName.errors?.['required']">Ce champ est obligatoire.</div>
                </div>
            </div>

            <div class="input-block">
                <label for="password">Mot de pass</label>
                <input #inputElement #password="ngModel" type="password" name="password" id="password" class="password" 
                [(ngModel)] = "formData.password"
                pattern="^.{8,}$"
                (input)="detectErrors($event.target, password.errors)"
                (click)="commitErrors($event.target, password.errors)"
                (change)="commitErrors($event.target, password.errors)" required>

                <div class="input-error" *ngIf="(password.errors && (password.dirty || password.touched)) || showErrors">
                    <div *ngIf="password.errors?.['pattern']">Le mot de passe doit contenir au moins 8 caractères.</div>
                    <div *ngIf="password.errors?.['required']">Le mot de passe est obligatoire.</div>
                </div>
            </div>
        </div>
        
        <div class="login-buttons">
            <button class="login-btn" type="submit">Se Connecter</button>
            <div class="login-instead">Vous n'avez pas de compte ? <a [routerLink]="signup">Inscrivez-vous</a></div>
        </div>
    </form>
</div>