<div class="login">
    <div class="login-message">Connectez-vous!</div>
    <form action="POST" class="login-inputs-buttons">
        <div class="login-inputs">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="email">

            <label for="password">Mot de pass</label>
            <input type="password" name="password" id="password" class="password">
        </div>
        
        <div class="login-buttons">
            <button class="login-btn">Créer un compte</button>
            <div class="signup-instead">Vous n'avez pas de compte ? <a href="#">Inscrivez-vous</a></div>
        </div>
    </form>
</div>