<div class="signup">
    <div class="signup-message">Créer un compte !</div>
    <form (ngSubmit)="onSubmit()" class="signup-inputs-buttons">
        <div class="person-type">
            <div class="person-moral" [ngClass]="isPersonMoral ? 'selected-p' : 'not-selected-p'" (click)="switchPersonMoral()">Personne morale</div>
            <div class="person-physique" [ngClass]="isPersonPhysique ? 'selected-p' : 'not-selected-p'" (click)="switchPersonPhysique()">Personne Physique</div>
        </div>
        
        <div class="signup-inputs">
            <div class="input-block-sm">
                <label for="fname">Nom</label>
                <input #fname="ngModel" type="text" name="fname" id="fname" class="fname"
                 [(ngModel)] = "formData.fname"
                 (input)="detectErrors($event, fname.errors)"
                 (click)="commitErrors($event, fname.errors)"
                 (change)="commitErrors($event, fname.errors)" required>
            </div>

            <div class="input-block-sm">
                <label for="lname">Prénom</label>
                <input #lname="ngModel" type="text" name="lname" id="lname" class="lname" 
                [(ngModel)] = "formData.lname" 
                (input)="detectErrors($event, lname.errors)"
                (click)="commitErrors($event, lname.errors)"
                (change)="commitErrors($event, lname.errors)" required>
            </div>

            <div class="input-block-sm">
                <label for="bday">Date de naissance</label>
                <input #bday="ngModel" type="date" name="bday" id="bday" class="bday" 
                [(ngModel)] = "formData.bday" 
                (input)="detectErrors($event, bday.errors)"
                (click)="commitErrors($event, bday.errors)"
                (change)="commitErrors($event, bday.errors)" required>
            </div>

            <div class="input-block-sm">
                <label for="Wilaya">Wilaya</label>
                <select #wilaya="ngModel" name="Wilaya" id="Wilaya" class="Wilaya"
                 [(ngModel)] = "formData.wilaya"
                 (input)="detectErrors($event, wilaya.errors)"
                 (click)="commitErrors($event, wilaya.errors)"
                 (change)="commitErrors($event, wilaya.errors)" required>
                    <option value="" disabled selected hidden></option>
                    <option *ngFor="let Wilaya of wilayat" [value]="Wilaya">{{Wilaya}}</option>
                </select>
            </div>
            <div class="input-block-sm">
                <label for="card-number">Numero de carte d'identité</label>
                <input #cardNumber="ngModel" type="number" name="card-number" id="card-number" class="card-number" 
                [(ngModel)] = "formData.cardNumber" 
                (input)="detectErrors($event, cardNumber.errors)"
                (click)="commitErrors($event, cardNumber.errors)"
                (change)="commitErrors($event, cardNumber.errors)" required>
            </div>

            <div class="input-block-sm">
                <label for="phone">Numero de téléphone</label>
                <input #phone="ngModel" type="number" name="phone" id="phone" class="phone" 
                [(ngModel)] = "formData.phone"
                max="9999999999"
                min="0100000000"
                (input)="detectErrors($event, phone.errors)"
                (click)="commitErrors($event, phone.errors)"
                (change)="commitErrors($event, phone.errors)" 
                required>
            </div>

            <div class="input-block">
                <label for="email">Email</label>
                <input #email="ngModel" type="email" name="email" id="email" class="email"
                 [(ngModel)] = "formData.email" 
                 (input)="detectErrors($event, email.errors)"
                 (click)="commitErrors($event, email.errors)"
                (change)="commitErrors($event, email.errors)" required>
            </div>

            <div class="input-block">
                <label for="password">Mot de pass</label>
                <input #password="ngModel" type="password" name="password" id="password" class="password" 
                [(ngModel)] = "formData.password" 
                (input)="detectErrors($event, password.errors)"
                (click)="commitErrors($event, password.errors)"
                (change)="commitErrors($event, password.errors)" required>
            </div>
        </div>
        
        <div class="signup-buttons">
            <button class="signup-btn" type="submit">Créer un compte</button>
            <div class="login-instead">Vous avez déjà un compte ? <a [routerLink]="login">Connectez-vous</a></div>
        </div>
    </form>
</div>
