<div class="signup">
    <div class="signup-message">Créer un compte !</div>
    <form action="POST" class="signup-inputs-buttons">
        <div class="person-type">
            <div class="person-moral">Personne morale</div>
            <div class="person-physique">Personne Physique</div>
        </div>
        
        <div class="signup-inputs">
            <div class="input-block-sm">
                <label for="fname">Nom</label>
                <input type="text" name="fname" id="fname" class="fname">
            </div>

            <div class="input-block-sm">
                <label for="lname">Prénom</label>
                <input type="text" name="lname" id="lname" class="lname">
            </div>

            <div class="input-block-sm">
                <label for="bday">Date de naissance</label>
                <input type="date" name="bday" id="bday" class="bday">
            </div>

            <div class="input-block-sm">
                <label for="Wilaya">Wilaya</label>
                <input type="text" name="Wilaya" id="Wilaya" class="Wilaya">
            </div>
            <div class="input-block-sm">
                <label for="card-number">Numero de carte d'identité</label>
                <input type="number" name="card-number" id="card-number" class="card-number">
            </div>

            <div class="input-block-sm">
                <label for="phone">Numero de téléphone</label>
                <input type="number" name="phone" id="phone" class="phone">
            </div>

            <div class="input-block">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="email">
            </div>

            <div class="input-block">
                <label for="password">Mot de pass</label>
                <input type="password" name="password" id="password" class="password">
            </div>
        </div>
        
        <div class="signup-buttons">
            <button class="signup-btn">Créer un compte</button>
            <div class="login-instead">Vous avez déjà un compte ? <a href="#">Connectez-vous</a></div>
        </div>
    </form>
</div>
