.person-type{
    width: 100%;
    justify-content: center;
}

.person-moral,
.person-physique{
    font-size: 20px;
    font-weight: 600;
    border: solid 2px var(--primary-color);
    padding: 0.8em 1.1em;
    cursor: pointer;
}

.person-moral{
    border-radius: 15px 0 0 15px;
}

.person-physique{
    border-radius: 0 15px 15px 0;
}

.selected-p{
    color: white;
    background-color: var(--primary-color);
    transition: color 0.1s linear, background-color 0.1s linear;
}

.not-selected-p{
    background-color: white;
    color: var(--primary-color);
    transition: color 0.1s linear, background-color 0.1s linear;
}

@media screen and (max-width: 700px){

    .person-moral,
    .person-physique{
        font-size: 14px;
    }

    .signup-message{
        text-align: center;
        justify-content: center;
    }

    input,
    select{
        width: 100%;
    }

    .login-instead{
        font-size: 12px;
    }

    .signup{
        padding-left: 0;
        padding-right: 0;
    }

    .signup-btn{
        font-size: 20px;
        border-radius: 10px;
    }

    .signup-inputs-buttons{
        gap: 20px;
    }
}

@media screen and (max-width: 400px){
    .person-type{
        flex-wrap: wrap;
    }

    .person-moral{
        width: 170px;
        border-radius: 10px 10px 0 0;
        justify-content: center;
    }

    .person-physique{
        width: 170px;
        border-radius:  0 0 10px 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 350px){
    input,
    select{
        width: 100%;
        aspect-ratio: 284/53;
    }

    select {
        height: 0;
        padding-top: 8.5%; /* Adjust the padding-top to achieve the desired aspect ratio */
        padding-bottom: 8.5%; /* Adjust the padding-bottom to achieve the desired aspect ratio */
      }

    label{
        font-size: 1em;
    }

    .signup{
        border-radius: 10px;
    }

    .signup-message{
        font-size: 24px;
    }

    .signup-btn{
        font-size: 18px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .login-instead{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}