<div class="procedures">
    <div class="page-title">Choisissez le type de votre procédure:</div>

    <div class="procedures-types-list">
        <div class="procedure-type">
            <div class="type-logo"></div>
            <div class="type-name">l’investissement dans les activités de la pêche</div>
            <div class="type-arrow"></div>
        </div>

        <div class="procedure-type">
            <div class="type-logo"></div>
            <div class="type-name">l’investissement dans les activités de l’aquaculture</div>
            <div class="type-arrow"></div>
        </div>

        <div class="procedure-type">
            <div class="type-logo"></div>
            <div class="type-name">l’investissement dans les activités de commercialisation</div>
            <div class="type-arrow"></div>
        </div>
        

    </div>
</div>
