.profile-files{
    width: 100%;
    flex-direction: column;
    gap: 26px;
}

.file-hanger{
    background-color: white;
    width: 100%;
    gap: 37px;
    border-radius: 7px;
    padding: 15px 20px;
    align-items: center;
    cursor: pointer;
}

.file-hanger-name{
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 30px;
}

.file-hanger-icon{
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 50px;
    height: 35px;
    border-right: solid 1px #d9d9d9;
}

.install-icon{
    background-image: url('../../assets/imgs/file-uploaded.svg');
}

.update-icon{
    background-image: url('../../assets/imgs/need-update.svg');
}