<div class="profile-files">
    <div class="file-hanger">
        <div class="file-hanger-icon install-icon"></div>
        <div class="file-hanger-name">Fichier du procedure 01: Autorisation de péche.</div>
    </div>
    <div class="file-hanger">
        <div class="file-hanger-icon install-icon"></div>
        <div class="file-hanger-name">Fichier du procedure 05: Permis de pèche au thon de la marine</div>
    </div>
    <div class="file-hanger">
        <div class="file-hanger-icon install-icon"></div>
        <div class="file-hanger-name">Fichier du procedure 08: Autorisation d’acquisition de bla bla bla bla bla bla.</div>
    </div>
</div>
