<div class="profile-files">
    <ng-container *ngFor="let paper of profileFiles">
        <div class="file-hanger" (click)="openImageWindow(paper.fileUrl)">
            <div class="file-hanger-icon install-icon" 
            [class.install-icon]="paper.expirationTime && currentTime > paper.expirationTime"
            [class.update-icon]="!(paper.expirationTime && currentTime > paper.expirationTime)"></div>
            <div class="file-hanger-name">Fichier du procedure {{paper.procedureNum}}: Autorisation de péche.</div>
        </div>
    </ng-container>
</div>
